@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right bottom, from(orangered), to(#860404));
  background-image: linear-gradient(to right bottom, orangered, #860404);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  color: #363535;
}

.ligal {
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
  color: rgba(194, 194, 194, 0.815);
}

/* container */
.container {
  background-color: #dbdbdb;
  margin: 8rem;
  min-height: 40rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.377);
          box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.377);
}

@media only screen and (max-width: 960px) {
  .container {
    margin: 0;
  }
}

.container #header {
  height: 7rem;
  background-color: white;
  border-bottom: 0.2rem solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* user-nav area */
}

.container #header .logo img {
  height: 4.5rem;
  width: 3.5rem;
  margin-left: 3rem;
}

.container #header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -2rem;
}

@media only screen and (max-width: 762px) {
  .container #header .search {
    margin-left: 2rem;
  }
}

.container #header .search .search-input {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: rgba(194, 194, 194, 0.815);
  border: none;
  padding: .7rem 2rem;
  border-radius: 40px;
  width: 70%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (max-width: 762px) {
  .container #header .search .search-input {
    font-size: 1rem;
  }
}

.container #header .search .search-input:focus {
  outline: none;
  width: 100%;
}

.container #header .search .search-button {
  border: none;
  background: none;
}

.container #header .search .search-button .search-icon {
  height: 1.2rem;
  width: 1.2rem;
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  fill: orangered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 762px) {
  .container #header .search .search-button .search-icon {
    width: 3.2rem;
  }
}

.container #header .search .search-button :focus {
  outline: none;
}

.container #header .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.container #header .user-nav > * {
  cursor: pointer;
  padding: 1rem;
  height: 100%;
}

.container #header .user-nav > *:hover {
  background: rgba(194, 194, 194, 0.815);
}

.container #header .user-nav .user-nav-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container #header .user-nav .user-nav-icon-box .user-nav-icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: darkgrey;
}

.container #header .user-nav .user-nav-icon-box .user-new-notification {
  background: crimson;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container #header .user-nav .user-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}

@media only screen and (max-width: 762px) {
  .container #header .user-nav .user-nav-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
}

.container #header .user-nav .user-nav-box .user-photos {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.container #header .user-nav .user-nav-box .user-name {
  font-size: auto;
  margin: 1rem;
  font-size: 1.5rem;
  color: darkgrey;
}

@media only screen and (max-width: 762px) {
  .container #header .user-nav .user-nav-box .user-name {
    margin: .1rem;
    font-size: 1rem;
  }
}

.container #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .container #content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container #content .sidebar {
  background-color: black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #content .sidebar .side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;
  text-transform: capitalize;
}

@media only screen and (max-width: 960px) {
  .container #content .sidebar .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.container #content .sidebar .side-nav .side-nav_item {
  position: relative;
  line-height: 1.7rem;
}

.container #content .sidebar .side-nav .side-nav_item:not(:last-child) {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 960px) {
  .container #content .sidebar .side-nav .side-nav_item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 960px) {
  .container #content .sidebar .side-nav .side-nav_item:not(:last-child) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.container #content .sidebar .side-nav_item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: .3rem;
  background: crimson;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s, -webkit-transform 0.2s;
  transition: width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  transition: transform 0.2s, width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s, -webkit-transform 0.2s;
}

.container #content .sidebar .side-nav .active::before,
.container #content .sidebar .side-nav :hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
  color: rgba(194, 194, 194, 0.815);
}

.container #content .sidebar .side-nav .side-nav_link:link,
.container #content .sidebar .side-nav .side-nav_link:visited {
  text-decoration: none;
  color: #dbdbdb;
  display: block;
  padding: 1.5rem 3rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
  .container #content .sidebar .side-nav .side-nav_link:link,
  .container #content .sidebar .side-nav .side-nav_link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 762px) {
  .container #content .sidebar .side-nav .side-nav_link:link,
  .container #content .sidebar .side-nav .side-nav_link:visited {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .5rem 2rem;
  }
}

.container #content .sidebar .side-nav .side-nav_link:hover {
  color: rgba(194, 194, 194, 0.815);
}

.container #content .sidebar .side-nav .side-nav_icon {
  fill: currentColor;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 762px) {
  .container #content .sidebar .side-nav .side-nav_icon {
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: .1rem;
  }
}

.container #content .ligal {
  font-size: 2rem;
}

@media only screen and (max-width: 960px) {
  .container #content .ligal {
    display: none;
  }
}

.container #content .hotel-view {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
}

.container #content .hotel-view .gallery .gllery_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #content .hotel-view .gallery .gllery_item .gallery_photo {
  width: 34%;
  display: block;
}

/* over wiew */
.overviwe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.02rem solid gray;
}

.overviwe .overview_heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .2rem;
  padding: 1.2rem 2rem;
}

@media only screen and (max-width: 762px) {
  .overviwe .overview_heading {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

.overviwe .overview_stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overviwe .overview_stars .overview_stars_icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: orangered;
}

.overviwe-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overviwe-location .overviwe-location_icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: orangered;
}

.overviwe-location .btn-inline {
  border: none;
  border-bottom: 0.03rem solid orangered;
  color: orangered;
  font-size: inherit;
  padding-bottom: .3rem;
  margin-left: 1rem;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: transparent;
  cursor: pointer;
}

.overviwe-location .btn-inline:hover {
  color: gray;
  border-bottom: 0.03rem solid gray;
  -webkit-animation: pulset 1s infinite;
          animation: pulset 1s infinite;
  font-size: inherit;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulset 1s infinite;
          animation: pulset 1s infinite;
}

.overviwe-reating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  padding: 0 1rem;
  background: crimson;
  font-size: inherit;
  color: lavender;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 2rem;
}

.overviwe-reating .overviwe-reating-avares {
  font-size: 2rem;
}

.overviwe-reating .overviwe-reating-count {
  font-size: 1rem;
  text-align: center;
}

@-webkit-keyframes pulset {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.356);
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.356);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulset {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.356);
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.356);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* ditels */
.ditels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.3rem;
  background: rgba(194, 194, 194, 0.815);
  /* user review */
}

@media only screen and (max-width: 960px) {
  .ditels {
    padding: 3rem;
  }
}

@media only screen and (max-width: 762px) {
  .ditels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ditels .disciption {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 2.3rem;
  -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.656);
          box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.656);
  padding: 1.5rem;
  /* praprap */
}

@media only screen and (max-width: 960px) {
  .ditels .disciption {
    padding: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 762px) {
  .ditels .disciption {
    margin-right: 0;
  }
}

.ditels .disciption .pragrap {
  font-size: 1.5rem;
}

.ditels .disciption .pragrap:not(:last-of-type) {
  margin-bottom: 2rem;
}

.ditels .disciption .list {
  margin: 3rem 0;
  padding: 3rem 0;
  list-style: none;
  border-top: .03rem solid gray;
  border-bottom: .03rem solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ditels .disciption .list_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: .7rem;
}

.ditels .disciption .list_item::before {
  content: "";
  display: inline-block;
  height: 1.2rem;
  width: 1.5rem;
  margin-right: .7rem;
  background-color: hotpink;
  -webkit-mask-image: url(../img/SVG/chevron-small-right.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/SVG/chevron-small-right.svg);
  mask-size: cover;
}

.ditels .disciption .recommend {
  font-size: 1.2rem;
  color: #363535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ditels .disciption .recommend_count {
  margin-right: auto;
}

.ditels .disciption .recommend_friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ditels .disciption .recommend_friends .friends_photos {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.15rem solid white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ditels .disciption .recommend_friends .friends_photos:not(:last-child) {
  margin-right: -1.55rem;
}

.ditels .user-review {
  font-size: 1.3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.ditels .user-review .review {
  background: white;
  padding: 3rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.656);
          box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.656);
}

.ditels .user-review .review:not(:last-child) {
  margin-bottom: 3rem;
}

.ditels .user-review .review::before {
  content: "\201c";
  position: absolute;
  font-size: 20rem;
  left: -.7rem;
  font-family: sans-serif;
  margin-top: -10.2rem;
  color: rgba(32, 31, 32, 0.212);
}

.ditels .user-review .review_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ditels .user-review .review_text {
  margin-bottom: 2rem;
}

.ditels .user-review .review_user-box {
  margin-right: auto;
}

.ditels .user-review .review_user-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: .7rem;
}

.ditels .user-review .review_user-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: .5ram;
}

.ditels .user-review .review_user-date {
  font-size: 1rem;
  font-weight: 300;
  color: darkgrey;
}

.ditels .user-review .review_user-rating {
  color: darkmagenta;
  font-size: 1.3;
}

.btn-inline-2 {
  background: none;
  border: none;
  border-bottom: .05rem solid gray;
  font-size: 1.2rem;
  color: gray;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.btn-inline-2 span {
  margin-left: .2rem;
  -webkit-transition: margin-left 1s;
  transition: margin-left 1s;
}

.btn-inline-2:hover {
  color: purple;
  border-bottom: .05rem solid purple;
}

.btn-inline-2:hover span {
  margin-left: .8rem;
}

.btn-inline-2:focus {
  outline: none;
  -webkit-animation: pulset 1s infinite;
          animation: pulset 1s infinite;
}

/* button cta */
.cta {
  margin: 3.5rem 0;
  text-align: center;
}

.cta_book-now {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(253, 6, 6, 0.69)), to(#3b0a0a));
  background-image: linear-gradient(to right bottom, rgba(253, 6, 6, 0.69), #3b0a0a);
  color: #f8f5fc;
  border: none;
  border-radius: 4rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.btn > * {
  height: 100%;
  width: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: inline-block;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(253, 6, 6, 0.69)), to(#3b0a0a));
  background-image: linear-gradient(to left top, rgba(253, 6, 6, 0.69), #3b0a0a);
}

.btn_vasibal {
  padding: 1.5rem 7.5rem;
}

.btn_unvasibal {
  position: absolute;
  top: -130%;
  left: 0;
  padding: 1.5rem 2rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.btn:hover .btn_vasibal {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn:hover .btn_unvasibal {
  top: 0;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: 1px 4px 5px gray;
          box-shadow: 1px 4px 5px gray;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* media Query */
/*# sourceMappingURL=main.css.map */